<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">About Key Square</h2>
                    <h3 class="section-subheading text-muted">Key Square is an engineering services company offering a wide range of custom software and hardware development services.</h3>
                </div>
            </div>
            <div id="about-content">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            We have expertise in device design, analog and digital circuit design, schematic capture, layout, and manufacturing advisory services. We also offer a full range of software services including application and algorithm development, embedded programming, and server-side software design and development.
                        </p>
                        <p>
                            Key Square will help your company at any stage of your product life-cycle through focused effort from a broad base of experience with cost-effective support.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-heading">
                            Extensive experience with
                        </div>
                        <ul>
                            <li>All phases of the product life-cycle</li>
                            <li>Turnkey product design and development</li>
                            <li>Design of hardware and software system interface 
                            solutions</li>
                            <li>Design and development of desktop and web applications</li>
                            <li>Design, development, and deployment of highly available
                            secure network systems</li>
                            <li>Design and support of prototype and development systems</li>
                            <li>Design and support of engineering and manufacturing tools</li>
                            <li>Contract Manufacturing oversight and support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>