<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Key Square provides many types of services to help your company succeed.</h3>
                </div>
            </div>
            <div id="services-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-heading">
                            Software Engineering
                        </div>
                        <p>
                            Design and development solutions and technologies from concept to planning, prototype, and production.
                        </p>
                        <ul>
                            <li>MSP430, 8051, ARM, x86, and AVR embedded development 
                            services</li>
                            <li>Assembly, C/C++, Objective-C, Ruby/Rails, Python, C#, Java</li>
                            <li>Windows, Linux, Mac, and iPhone application design and development
                            </li>
                            <li>Cost effective high availability network server design
                            and development</li>
                            <li>Embedded development experience with a wide variety of 
                            RTOS environments</li>
                            <li>USB, TCP/IP, Bluetooth, ZigBee, RFID, Biometrics, and
                            Smart Card technologies</li>
                        </ul>                    
                    </div>
                    <div class="col-md-6">
                        <div class="text-heading">
                            Hardware Engineering
                        </div>
                        <p>
                            We have extensive experience creating embedded systems featuring highly integrated, low power and cost effective designs.
                        </p>
                        <ul>
                            <li>Analog and digital circuit design services including
                            schematic capture, simulation, prototyping, and PCB
                            design</li>
                            <li>Power and battery management specializing in low power
                            portable design</li>
                            <li>8, 16, and 32 bit Microprocessors, Microcontrollers, 
                            and DSPs</li>
                            <li>Wired and Wireless Communication including:
                            RS-232/422/485, USB, Wiegand, Bluetooth, IEEE 802.15.4,
                            ZigBee, High and Low Frequency RFID</li>
                            <li>Advanced PCB technologies and miniaturization</li>
                            <li>Design for cost optimization, manufacturability, 
                            and testability</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>